<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete booking</title>
</head>
    <script>
        history.forward()
    </script>

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

<body style="background-color: bisque;">
    <a style='color: gray; right: 0; top: 0;  position: absolute;' href="logout.html">Logout</a>
    <h1 style="color: red;">Last warning! Booking deleted will be lost forever!</h1>
    <h4 style="color: green;">Not-confirmed booking</h4>
    <table>
        <tr><th>Email</th><th>Date</th><th>Start time</th><th>Food</th><th>Food amount</th><th>People amount</th><th>Require staff</th></th></tr>
        {%for i in range(0, len1)%}
        <tr><td>{{not_confirmed[i].email}}</td><td>{{not_confirmed[i].date}}</td><td>{{not_confirmed[i].start_time}}</td><td>{{not_confirmed[i].food}}</td><td>{{not_confirmed[i].food_amount}}</td><td>{{not_confirmed[i].people_amount}}</td><td>{{not_confirmed[i].staff}}</td></tr>
        {%endfor%}
    </table>

    <form action="/process_delete_not" method="post">
        <label>Choose a booking to delete:</label>
        <select name="process_delete">
        {%for i in range(0, len1)%}
          <option value= "{{not_confirmed[i].email}}">{{not_confirmed[i].date}} @ {{not_confirmed[i].start_time}}</option>
          {%endfor%}
        </select>
        <br><br>
        <input type="submit" value="Delete">
      </form>
</body>
</html>